@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header {
    text-align: center;
    font-family: 'Abril Fatface';
}
 h2 {
    font-family:'Roboto Slab';
}
h5 {
    color: #dd3232;
}

newspaper-container {
    width: 700px;
    padding: 10px,50px,20px;
    text-align: center;
    box-shadow: #ddd;
    background-color: white;
    font-family: 'Source Sans Pro';
}

nav{
    margin: auto;
    padding: 1em;
    width: 700px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: sticky;
}

ul {

    list-style-type: none;
    margin: 0;
    text-align: justify;
  }

  li{
      display: inline-block;
      text-align: center;
  }

  a{
      text-decoration: none;
      color: #777;
      font-family: 'Source Sans Pro';
  }

